.container {
    max-width: 60rem;
    padding: 0 0rem;
    margin: auto;
    margin-top: 2rem;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }
